.container {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lineItem {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
